{% extends "round_files/generic_puzzle.tmpl" %}
{% load archive %}

{% block extra_stylesheets %}
<link href="{% archivable_font 'Jolly+Lodger:wght@400' 'Jolly_Lodger' %}" rel="stylesheet">
{% endblock extra_stylesheets %}

{% block wordmark %}
{% include 'round_files/generic_wordmark.tmpl' with round_info=round_info %}
{% endblock wordmark %}

{% block bonus_puzzle %}
<div class="bonus-puzzle-container">
{% include 'round_files/lake-eerie/submissions.tmpl' with team=team puzzle=puzzle solved=puzzle_info.solved %}
</div>
{% endblock bonus_puzzle %}
