{% extends "round_files/generic_puzzle_subview.tmpl" %}
{% load archive %}

{% block extra_stylesheets %}
<link href="{% archivable_font 'Jolly+Lodger:wght@400' 'Jolly_Lodger' %}" rel="stylesheet">
{% endblock extra_stylesheets %}

{% block wordmark %}
{% include 'round_files/generic_wordmark.tmpl' with round_info=round_info %}
{% endblock wordmark %}
