{% load hosts %}

{% if rd0_released %}
<section class="updates">
  <h2 id="updates-section">Updates</h2>

  <div class="update">
    <h3>How To Hunt Workshop</h3>
    <div class="time"><em>Posted</em>: 12:00 p.m. TIMEMIT on Tuesday, January 4th, 2022</div>

    <p>On Saturday, January 8th, last year’s running team, the ✈️✈️✈️ Galactic Trendsetters ✈️✈️✈️, will be hosting a “How to Hunt” workshop. Part one of the workshop will be a standard introduction to puzzle hunts; part two will focus on online tools you can use for the MIT Mystery Hunt, including demonstrations of popular tools. Join them at <a href="https://www.timeanddate.com/worldclock/fixedtime.html?msg=Remote+Collaboration+Workshop+for+MIT+Mystery+Hunt+2022&iso=20220108T19&p1=43" rel="nofollow noopener noreferrer" target="_blank">7:00 PM TIMEMIT (ET)</a> on <a href="https://mit.zoom.us/j/91890564065" target="_blank">Zoom here</a>.</p>

    <p>Additionally, last year’s How to Hunt Workshop by team Left Out is <a href="https://www.youtube.com/channel/UCiZ33i0gQ0i0Nydh6XkaGBQ" target="_blank">available to watch at any time</a>.</p>

    <p>We hope to see you there!</p>

    <p>Team Palindrome</p>
  </div>

  <div class="update">
    <h3>Physical puzzles</h3>
    <div class="time"><em>Posted</em>: 2:00 p.m. TIMEMIT on Thursday, December 16th, 2021</div>
    <div class="time"><em>Updated</em>: 8:30 p.m. TIMEMIT on Monday, December 20th, 2021</div>

    <p>This year’s hunt will include some puzzles with physical components. As we are not meeting on MIT’s campus this year, we’ll be shipping out these items in advance of the hunt — and asking recipients to not open them until instructed to do so during the weekend.</p>

    <p>There are four items for sale on our <a href="https://mitmysteryhunt2022.myshopify.com" target="_blank" rel="nofollow noopener noreferrer">Shopify store</a>: three puzzle-y items, and the MIT Mystery Hunt t-shirt (not a puzzle, available to order now and will be shipped after Mystery Hunt).</p>

    <p>The puzzle items’ listed prices likely make them cost-prohibitive. We’re going to be sending discount codes to the team captains, bringing down the price of the puzzle items to $0 — you’ll just pay the shipping costs. (If you hunted in 2021, this is similar to what happened last year.) And if shipping is more expensive than your team can afford or you have other questions, please get in touch by emailing <a href="mailto:swag@mitmh2022.com" target="_blank">swag@mitmh2022.com</a>.</p>

    <p>Coupon codes will be emailed to team captains when your team has registered. Captains, you are in charge of who to distribute these codes to — and ensuring they order promptly. You’ll get one discount code for each box and three for the envelope. (All envelopes are identical; this is just a chance for additional people to receive the item.)</p>

    <p>International shipping is available through the US Postal Service, UPS, and DHL.</p>

    <p>We recommend ordering as soon as possible after receiving your codes. With the quantity of packages going out, we expect some to be delayed or lost, and we anticipate having to re-ship a few items. If items are ordered by December 20th we are confident that we’ll be able to ensure receipt before the hunt. We will do our best to get all swag to teams before hunt no matter when it is ordered, and are hopeful that anything ordered by early January will arrive on time.</p>

    <p>If we still have extra items after all teams have had a chance to order, we will reach out with information on how to order additional copies.</p>

    <p>Team Palindrome</p>
  </div>

  <div class="update">
    <h3>Answer checker enhancements</h3>
    <div class="time"><em>Posted</em>: 6:30 p.m. TIMEMIT on Tuesday, December 14th, 2021</div>

    <p>We've updated the answer checker to remove accents from your answer before checking it. However, to be safe, any letters you use should probably be part of the Latin alphabet. And if you've already submitted answers that use accented letters, please re-submit them to see if they were actually correct.</p>
    <p>There's also a <a href="{% host_url 'faq' host 'site-1' %}#q-answer-checking" target="_blank">new entry</a> in the <a href="{% host_url 'faq' host 'site-1' %}" target="_blank">Star Rats FAQ</a> that explains how the answer checker normalizes answer submissions.</p>
    <p>Team Palindrome</p>
  </div>

  <div class="update">
    <h3>You can now finalize your team registration</h3>
    <div class="time"><em>Posted</em>: 6:30 p.m. TIMEMIT on Tuesday, December 14th, 2021</div>

    <p>Based on some feedback, we've added the ability to finalize your team's registration. This will prevent any team members from making changes to your team's registration information or password.</p>
    <p>Team Palindrome</p>
  </div>

  <div class="update">
    <h3>Answer submissions are now saved</h3>
    <div class="time"><em>Posted</em>: 3:45 p.m. TIMEMIT on Monday, December 13th, 2021</div>

    <p>Hey teams - we had an issue saving progress for logged in teams. This is now resolved as of 3:45 PM TIMEMIT on December 13, 2021.</p>
    <p>We recommend resubmitting answers to puzzles you've solved so that your progress is tracked.</p>
    <p>Team Palindrome and MIT Puzzle Club</p>
  </div>

  <div class="update">
    <h3>The 2022 MIT Mystery Hunt Prologue is here!</h3>
    <div class="time"><em>Posted</em>: 12:00 p.m. TIMEMIT on Monday, December 13th, 2021</div>

    <p>Don’t want to wait another whole month for the 2022 MIT Mystery Hunt to start? Surprise! We’re kicking things off a little early this year, with an introductory set of over a dozen puzzles!</p>
    <p>Solving these puzzles is entirely optional. They will not give your team any benefit when the real Mystery Hunt begins on January 14, and teams that skip these puzzles will not be hindered in any way. These puzzles are simply an appetizer we’re serving up before the main event. We hope you enjoy them.</p>
    <p>You can find the puzzles at <a href="{% host_url 'index' host 'site-1' %}" target="_blank">https://www.starrats.org</a>, and check out the <a href="https://www.youtube.com/watch?v=glOx2eVTpFo" target="_blank" rel="nofollow noopener noreferrer">launch trailer</a>.</p>
    <p>Oh — and as a reminder, please register your teams for Mystery Hunt by December 20!</p>
    <p>See you in a month!</p>
    <p>Team Palindrome and MIT Puzzle Club</p>
  </div>
</section>
{% endif %}
