{% extends 'round_files/'|add:'new-you-city'|add:'/subview.tmpl' %}

{% block subview_content %}
<p>Hello,</p>

<p>Everything you load on a website is done through HTTP requests (well, a lot of the time) &mdash; some are for assets (like images, styles), but the key is the web page itself, being where the important information is.</p>

<p>Although you might initially read the content of pages, you often can’t see the network requests happening, but they’re important.</p>

<p>Don’t forget to inspect HTTP responses for what you need!</p>

<p>Even if it seems incomplete, remember that we have webpage, <a href=".">email</a>, and <a href="./chat">chat support</a>.</p>

<p>Reach out to us on all our support channels - they don’t connect well to start with, but they come together in the end.</p>

<p>Sincerely, New You City Tech Support</p>
{% endblock %}
