<p>Interpret this any way you like. If you need information from us to send the telegram appropriately, please use the “Contact HQ” link in the hunt menu. When you have sent the telegram, also use the submission link to let us know how you sent it so we can give you the appropriate credit.</p>
