.grids {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.left-grid {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  margin-right: 20px;
  width: 450px;
}

.right-grid {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 450px;
}

table.crossword td,
table.crossword th {
  box-sizing: border-box;
  height: 30px;
  position: relative;
  text-align: center;
  width: 30px;
  min-width: 30px;
}

li { margin-bottom: 5px; }

.blank-words {
  font-size: 1em;
}

@media print {
table.grid th, table.grid td {
    width: 30px;
    height: 30px;
    text-align: center;
    color-adjust: exact;
    -webkit-print-color-adjust: exact;
    page-break-before: always;
    }
}