{% extends "hunt/site_layout.tmpl" %}
{% load static styles %}

{% block title %}{% block subview_title %}{% endblock %} | {{ puzzle_info.puzzle.name|safe }} | {{ block.super }}{% endblock %}

{% block site_stylesheets %}
{{ round_common_style|wrap_styles|safe }}
{% block extra_stylesheets %}{% endblock %}
{% endblock site_stylesheets %}

{% block site_scripts %}
{% block extra_scripts %}{% endblock %}
{% endblock site_scripts %}

{% block site_content %}
<main>
  <header>
    <h1>
      <a href="{% url 'puzzle_view' puzzle_info.puzzle.url %}">{{ puzzle_info.puzzle.name }}</a>
    </h1>
    <span class="subtitle">{% block subview_heading %}{% endblock %}</span>
    {% block wordmark %}{% endblock %}
  </header>

  <div class="paper-edge top"></div>
  <section id="main-content" class="content puzzle">
    <!-- Puzzle content begins here -->
    {% block subview_content %}{% endblock %}
    <!-- Puzzle content ends here -->
  </section>
  <div class="paper-edge bottom"></div>
</main>
{% endblock site_content %}
