{% extends "round_files/generic_puzzle.tmpl" %}
{% load archive %}

{% block extra_stylesheets %}
<link href="{% archivable_font 'Libre+Baskerville' 'Libre_Baskerville' %}" rel="stylesheet">
{% endblock extra_stylesheets %}

{% block puzzle_rewards %}
{% if round_reward %}
{% include 'round_files/endgame/reward.tmpl' with reward=round_reward showing_all=False %}
{% endif %}
{% endblock puzzle_rewards %}
