{% extends "round_files/generic_puzzle.tmpl" %}

{% block extra_stylesheets %}
<link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
{% endblock extra_stylesheets %}

{% block puzzle_rewards %}
{% if round_reward %}
{% include 'round_files/endgame/reward.tmpl' with reward=round_reward showing_all=False %}
{% endif %}
{% endblock puzzle_rewards %}
