{% load static %}

header {
    background-image: url(images/wordmark.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    max-height: 300px;
    margin: 2% auto;
    width: 100%;
}

/* hide me from everyone except screen-readers */
header h1 {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.content,
.puzzle-actions,
.puzzle-action-embed {
    background-color: #F0EEEE;
}

.page-background {
    background-image: url(images/bg.jpg);
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    background-size: 100%;
    background-position: center top;
}
@media only screen and (max-width: 1500px) {
    .page-background {
        background-size: 1500px;
    }
}

/* Calculated using https://codepen.io/sosuke/pen/Pjoqqp. */
.paper-edge {
    background-image: url("{% static 'paper-edge.svg' %}");
    filter: invert(97%) sepia(99%) saturate(14%) hue-rotate(292deg) brightness(99%) contrast(89%);
}
