{% extends "top/sponsors/layout.tmpl" %}

{% load static %}

{% block sponsor_title %}Jane Street{% endblock %}

{% block sponsor_heading %}Jane Street{% endblock %}

{% block sponsor_details %}
<ul class="top-breadcrumb"><li><a href="{% url 'sponsors' %}">&laquo; See all sponsors</a></li></ul>
<p class="extra-margin-bottom"><a href="http://janestreet.com" target="_blank" rel="noopener nofollow"><img src="{% static 'sponsors/jane-street.png' %}" width="300" alt="Jane Street logo" /></a></p>
<p><a href="http://janestreet.com" target="_blank" rel="noopener nofollow" class="sponsor-link">Visit our website</a></p>
<p></p>
{% endblock %}
