.highlighted-square { background-color: #F7DC6F; }

@media print {
table.grid th, table.grid td {
    color-adjust: exact;
    -webkit-print-color-adjust: exact;
    page-break-before: always;
    }
}