{% extends 'round_files/'|add:round_info.round.url|add:'/subview.tmpl' %}
{% load assets %}

{% block subview_title %}Lessons Learned From Porcine Construction{% endblock %}
{% block subview_heading %}Photos In Envelope{% endblock %}

{% block extra_stylesheets %}
{{ block.super }}
<style type="text/css">
.content img {
	border: 3px solid #555;
	height: auto;
	max-width: 1000px;
	min-width: 500px;
	width: 100%;
}
</style>
{% endblock extra_stylesheets %}

{% block subview_content %}
<p><img src="{% puzz 'images/LessonsLearnedFromPorcineConstruction-01.jpg' %}"></p>
<p><img src="{% puzz 'images/LessonsLearnedFromPorcineConstruction-02.jpg' %}"></p>
<p><img src="{% puzz 'images/LessonsLearnedFromPorcineConstruction-03.jpg' %}"></p>
<p><img src="{% puzz 'images/LessonsLearnedFromPorcineConstruction-04.jpg' %}"></p>
<p><img src="{% puzz 'images/LessonsLearnedFromPorcineConstruction-05.jpg' %}"></p>
<p><img src="{% puzz 'images/LessonsLearnedFromPorcineConstruction-06.jpg' %}"></p>
<p><img src="{% puzz 'images/LessonsLearnedFromPorcineConstruction-07.jpg' %}"></p>
<p><img src="{% puzz 'images/LessonsLearnedFromPorcineConstruction-08.jpg' %}"></p>
<p><img src="{% puzz 'images/LessonsLearnedFromPorcineConstruction-09.jpg' %}"></p>
<p><img src="{% puzz 'images/LessonsLearnedFromPorcineConstruction-10.jpg' %}"></p>
<p><img src="{% puzz 'images/LessonsLearnedFromPorcineConstruction-11.jpg' %}"></p>
<p><img src="{% puzz 'images/LessonsLearnedFromPorcineConstruction-12.jpg' %}"></p>
<p><img src="{% puzz 'images/LessonsLearnedFromPorcineConstruction-13.jpg' %}"></p>
<p><img src="{% puzz 'images/LessonsLearnedFromPorcineConstruction-14.jpg' %}"></p>
<p><img src="{% puzz 'images/LessonsLearnedFromPorcineConstruction-15.jpg' %}"></p>
<p><img src="{% puzz 'images/LessonsLearnedFromPorcineConstruction-16.jpg' %}"></p>
<p><img src="{% puzz 'images/LessonsLearnedFromPorcineConstruction-17.jpg' %}"></p>
<p><img src="{% puzz 'images/LessonsLearnedFromPorcineConstruction-18.jpg' %}"></p>
<p><img src="{% puzz 'images/LessonsLearnedFromPorcineConstruction-19.jpg' %}"></p>
<p><img src="{% puzz 'images/LessonsLearnedFromPorcineConstruction-20.jpg' %}"></p>
<p><img src="{% puzz 'images/LessonsLearnedFromPorcineConstruction-21.jpg' %}"></p>
<p><img src="{% puzz 'images/LessonsLearnedFromPorcineConstruction-22.jpg' %}"></p>
<p><img src="{% puzz 'images/LessonsLearnedFromPorcineConstruction-23.jpg' %}"></p>
<p><img src="{% puzz 'images/LessonsLearnedFromPorcineConstruction-24.jpg' %}"></p>
<p><img src="{% puzz 'images/LessonsLearnedFromPorcineConstruction-25.jpg' %}"></p>
<p><img src="{% puzz 'images/LessonsLearnedFromPorcineConstruction-26.jpg' %}"></p>
<p><img src="{% puzz 'images/LessonsLearnedFromPorcineConstruction-27.jpg' %}"></p>
<p><img src="{% puzz 'images/LessonsLearnedFromPorcineConstruction-28.jpg' %}"></p>
<p><img src="{% puzz 'images/LessonsLearnedFromPorcineConstruction-29.jpg?v=1' %}"></p>
<p><img src="{% puzz 'images/LessonsLearnedFromPorcineConstruction-30.jpg' %}"></p>
<p><img src="{% puzz 'images/LessonsLearnedFromPorcineConstruction-31.jpg' %}"></p>
<p><img src="{% puzz 'images/LessonsLearnedFromPorcineConstruction-32.jpg' %}"></p>
<p><img src="{% puzz 'images/LessonsLearnedFromPorcineConstruction-33.jpg?v=0' %}"></p>
<p><img src="{% puzz 'images/LessonsLearnedFromPorcineConstruction-34.jpg' %}"></p>
<p><img src="{% puzz 'images/LessonsLearnedFromPorcineConstruction-35.jpg' %}"></p>
<p><img src="{% puzz 'images/LessonsLearnedFromPorcineConstruction-36.jpg' %}"></p>
<p><img src="{% puzz 'images/LessonsLearnedFromPorcineConstruction-37.jpg?v=1' %}"></p>

<button id="clipboard-button"></button>
{% endblock %}

