{% extends 'round_files/'|add:round_info.round.url|add:'/subview.tmpl' %}

{% block subview_title %}Incorrect filename detected{% endblock %}
{% block subview_heading %}Incorrect filename detected{% endblock %}

{% block subview_content %}
<h3>Incorrect URL. Please correct URL and try again.</h3>
{% endblock %}
