.fcl {
  background-color: #000000;
  color: #FFFFFF;
}

.clam {
  background-color: #DDDDDD;
  padding: 2px;
  margin: 2px;
}

.ob {
  background-color: #666666;
  color: #FFFFFF;
  padding: 2px;
  margin: 2px;
}

.sea {
  background-color: #BBBBBB;
  padding: 2px;
  margin: 2px;
}

.red {
  background-color: #2020D2;
  color: #FFFFFF;
  padding: 2px;
  margin: 2px;
}

.aard {
  background-color: #6D6EE9;
  padding: 2px;
  margin: 2px;
}

.ws {
  background-color: #9B99F1;
  padding: 2px;
  margin: 2px;
}

.dm {
  background-color: #D3D1F9;
  padding: 2px;
  margin: 2px;
}

.his {
  background-color: #FF8F00;
  padding: 2px;
  margin: 2px;
}

.euro {
  background-color: #FFE1BA;
  padding: 2px;
  margin: 2px;
}

.rain {
  background-color: #FFC472;
  padding: 2px;
  margin: 2px;
}

.aqua {
  background-color: #FFAB2C;
  padding: 2px;
  margin: 2px;
}
