.orangutans { background-color: #FFA500; }
.gorillas { background-color: #FFFF00; }
.humans { background-color: #00FF00; }
.bonobos { background-color: #00FFFF; }
.chimpanzees { background-color: #6495ed;}