<p>Create your own 7x7 crossword following the standard rules for crossword grids (as listed <a href="https://www.7xwords.com/why.html" target="_blank">here</a>). The answer to 1-Across should be MIT, but you don't need to put 1-Across in the very far left of the top row. Find a working fill for your grid and write clues, and save your crossword in .puz format. If you want your puzzle to be a cryptic, or a vowelless, or something else funky like that, be our guest! Creativity is definitely encouraged.</p>
<p>You can use any crossword construction software you might already have access to, or use a free web app like <a href="https://crosshare.org/construct" target="_blank">Crosshare</a> or <a href="https://viresh-ratnakar.github.io/exet.html" target="_blank">Exet</a> (which both allow export to .puz), or just make the crossword in a spreadsheet and turn it into a .puz file by creating a text file in <a href="https://www.litsoft.com/across/docs/AcrossTextFormat.pdf" target="_blank">Across Lite text format</a> and then converting it into a .puz file from there. Test your .puz file by opening it in a solving app (you can use <a href="https://www.crosswordnexus.com/solve/" target="_blank">Crossword Nexus</a> on the web if you don't have a solving app on your computer).</p>
