.puzzle form {
    text-align: center;
}

.puzzle form input {
  font-family: inherit;
  font-size: large;
}

.puzzle form #word-square-error {
  display: none;
  margin-top: 10px;
  font-style: italic;
}

.puzzle #next-html {
  display: none;
  margin-top: 30px;
}

.puzzle .centered {
  text-align: center;
}

.puzzle p.note {
  font-style: italic;
}

.puzzle ul.centered {
  list-style: none;
}
