{% extends 'round_files/'|add:round_info.round.url|add:'/subview.tmpl' %}
{% load assets %}

{% block subview_title %}Dictionary of the Language of the Realm of Unspeakable Chaos (as Known at Time of Compilation){% endblock %}
{% block subview_heading %}Dictionary of the Language of the Realm of Unspeakable Chaos (as Known at Time of Compilation){% endblock %}

{% block extra_stylesheets %}
{{ block.super }}
<style type="text/css">
.no-margin-top {
	margin-top: 0;
}

.row-padding-bottom {
	padding-bottom: 1rem;
}

.row-padding-top {
	padding-top: 1rem;
}

table:not(.grid) td, table:not(.grid) th {
	border-bottom: none !important;
}

th {
	text-align: left;
}

td.border-thick, th.border-thick {
	border-top: 2px solid #000;
}

td.top, th.top {
	vertical-align: top;
}

</style>
{% endblock extra_stylesheets %}

{% block subview_content %}

<h2></h2>
<p>Sources listed are (1) Wald, K. [2001]; (2) Sturtevant, D. [2003]; (3) Wald, K. [2008]; (4) Hesterberg, A. [2013].</p>

<p>This dictionary includes only native Chaotic words; proper nouns and words borrowed from ancient Greek are omitted.</p>
<p>(Note that in written texts, words borrowed from ancient Greek are <i>italicized.</i>)</p>

<table>
<tr><th></th><th scope="col">Word </th><th scope="col">Meaning</th><th scope="col">Source</th></tr>
<tr><th scope="row" class="border-thick">Simple nouns</th><td class="border-thick">babo</td><td class="border-thick">diamond</td><td class="border-thick">2</td></tr>
<tr><td rowspan="27" class="top"><p class="no-margin-top">For the derivational processes by which derived (nonsimple) nouns are created, see "Diminutives," "Inversives," and "Reflectives" in the Grammar.</p>
<p>For a description of pluralization, also see the Grammar.</p></td><td class="top">batugu</td><td class="top">trek</td><td class="top">3</td></tr>
<tr><td>danu</td><td>^-shape</td><td>1</td></tr>
<tr><td>dulo</td><td>body</td><td>3</td></tr>
<tr><td>duru</td><td>inverted T-shape</td><td>1</td></tr>
<tr><td>fogu</td><td>ring</td><td>1</td></tr>
<tr><td>fruta</td><td>upward-pointing arrow</td><td>2</td></tr>
<tr><td>gobu</td><td>blood</td><td>3</td></tr>
<tr><td>gosu</td><td>dot</td><td>1</td></tr>
<tr><td>koro</td><td>inverted L-shape</td><td>1</td></tr>
<tr><td>kumora</td><td>science</td><td>3</td></tr>
<tr><td>lokula</td><td>killer</td><td>3</td></tr>
<tr><td>mala</td><td>/-shape</td><td>1</td></tr>
<tr><td>olo</td><td>Y-shape</td><td>1</td></tr>
<tr><td>paratu</td><td>bull</td><td>3</td></tr>
<tr><td>pazo</td><td>cell</td><td>3</td></tr>
<tr><td>pazosto</td><td>shirt</td><td>3</td></tr>
<tr><td>prasu</td><td>horizontal line</td><td>1</td></tr>
<tr><td>pratu</td><td>rightward-pointing arrow</td><td>2</td></tr>
<tr><td>raba</td><td>+ shape</td><td>3</td></tr>
<tr><td>tawa</td><td>eye</td><td>3</td></tr>
<tr><td>trowo</td><td>sailor</td><td>3</td></tr>
<tr><td>tulola</td><td>lover</td><td>3</td></tr>
<tr><td>tumu</td><td>excrement</td><td>3</td></tr>
<tr><td>uta</td><td>upward-pointing triangle</td><td>1</td></tr>
<tr><td>woda</td><td>star</td><td>1</td></tr>
<tr><td>wudo</td><td>color</td><td>3</td></tr>
<tr><td class="row-padding-bottom">zudu</td><td class="row-padding-bottom">X-shape</td><td class="row-padding-bottom">1</td></tr>
<tr><th scope="row" class="row-padding-top border-thick">Determiners (numbers and possessives)</th><td class="row-padding-top border-thick">_t</td><td class="row-padding-top border-thick">1</td><td class="row-padding-top border-thick">1</td></tr>
<tr><td rowspan="10" class="top"><p class="no-margin-top">_ replaces the inflecting vowel, which would be:</p>
<ul class="no-bullets">
<li>a when modifying a gender-1 noun,</li>
<li>o when modifying a gender-2 noun, and</li>
<li>u when modifying a gender-3 noun.</li>
</ul></td><td class="top">_m</td><td class="top">2</td><td class="top">1</td></tr>
<tr><td>t_s</td><td>3</td><td>1</td></tr>
<tr><td>s_r</td><td>4</td><td>1</td></tr>
<tr><td>d_k</td><td>5</td><td>1</td></tr>
<tr><td>d_r</td><td>6</td><td>1</td></tr>
<tr><td>p_n</td><td>7</td><td>1</td></tr>
<tr><td>r_m</td><td>8</td><td>1</td></tr>
<tr><td>d_</td><td>my</td><td>3</td></tr>
<tr><td>z_</td><td>your</td><td>3</td></tr>
<tr><td class="row-padding-bottom">f_</td><td class="row-padding-bottom">his/her/its</td><td class="row-padding-bottom">3</td></tr>
<tr><th scope="row" class="row-padding-top border-thick">Adjectives</th><td class="row-padding-top border-thick">bl_g</td><td class="row-padding-top border-thick">blue</td><td class="row-padding-top border-thick">1</td></tr>
<tr><td rowspan="7" class="top"><p class="no-margin-top">_ replaces the inflecting vowel, which would be:</p>
<ul class="no-bullets">
<li>e when modifying a gender-1 noun,</li>
<li>i when modifying a gender-2 noun,</li>
<li>u when modifying a gender-3 noun, and</li>
<li>a when not modifying a noun.</li>
</ul></td><td>dr_l</td><td>black</td><td>1</td></tr>
<tr><td>mag_</td><td>yellow</td><td>1</td></tr>
<tr><td>mold_n</td><td>green</td><td>1</td></tr>
<tr><td>nast_</td><td>white</td><td>1</td></tr>
<tr><td>podol_g</td><td>purple</td><td>1</td></tr>
<tr><td>suld_</td><td>red</td><td>1</td></tr>
<tr><td class="row-padding-bottom">zop_</td><td class="row-padding-bottom">blind</td><td class="row-padding-bottom">3</td></tr>
<tr><th scope="row" class="row-padding-top border-thick">Conjunctions</th><td class="row-padding-top border-thick">azona</td><td class="row-padding-top border-thick">(the) same (way)</td><td class="row-padding-top border-thick">4</td></tr>
<tr><td></td><td>bry</td><td>how</td><td>4</td></tr>
<tr><td></td><td>gry</td><td>when</td><td>3</td></tr>
<tr><td></td><td>imy</td><td>if</td><td>4</td></tr>
<tr><td></td><td>ky</td><td>but</td><td>3</td></tr>
<tr><td></td><td>lony</td><td>before</td><td>3</td></tr>
<tr><td></td><td>omy</td><td>so</td><td>3</td></tr>
<tr><td></td><td>py</td><td>and</td><td>1</td></tr>
<tr><td></td><td>pe</td><td>and, in a higher category</td><td>2</td></tr>
<tr><td class="row-padding-bottom"></td><td class="row-padding-bottom">wy</td><td class="row-padding-bottom">or</td><td class="row-padding-bottom">3</td></tr>
<tr><th scope="row" class="row-padding-top border-thick">Pronouns</th><td class="row-padding-top border-thick">di</td><td class="row-padding-top border-thick">I/me</td><td class="row-padding-top border-thick">3</td></tr>
<tr><td></td><td>zi</td><td>you</td><td>3</td></tr>
<tr><td></td><td>fi</td><td>he/she/it/him/her</td><td>3</td></tr>
<tr><td></td><td>stir</td><td>(not) anybody (used with negative verbs)</td><td>3</td></tr>
<tr><th scope="row" class="row-padding-top border-thick">Simple verbs</th><td class="row-padding-top border-thick">figolad</td><td class="row-padding-top border-thick">explore</td><td class="row-padding-top border-thick">3</td></tr>
<tr><td rowspan="9" class="top"><p class="no-margin-top">For the derivational processes by which derived (nonsimple) verbs are created, see "Negatives" and "Denominals" in the Grammar.</p>
<p>For a description of tense inflection, also see the Grammar.</p></td><td class="top">mylop</td><td class="top">see</td><td class="top">3</td></tr>
<tr><td>na</td><td>am/is/are</td><td>3</td></tr>
<tr><td>plaguz</td><td>mean</td><td>3</td></tr>
<tr><td>rusam</td><td>die</td><td>3</td></tr>
<tr><td>tipor</td><td>do something or other to</td><td>3</td></tr>
<tr><td>trod</td><td>say</td><td>3</td></tr>
<tr><td>tylop</td><td>know</td><td>4</td></tr>
<tr><td>wanub</td><td>help</td><td>4</td></tr>
<tr><td class="row-padding-bottom">wum</td><td class="row-padding-bottom">wear</td><td class="row-padding-bottom">3</td></tr>
<tr><th scope="row" class="row-padding-top border-thick">Titles</th><td class="row-padding-top border-thick">ge</td><td class="row-padding-top border-thick">Mr.</td><td class="row-padding-top border-thick">3</td></tr>
<tr><td class="row-padding-bottom"></td><td class="row-padding-bottom">se</td><td class="row-padding-bottom">Ms.</td><td class="row-padding-bottom">3</td></tr>
<tr><th scope="row" class="row-padding-top row-padding-bottom border-thick top">Fractions</th><td colspan="2" class="row-padding-top row-padding-bottom border-thick">[The suffix -od, attached to any number, forms the corresponding reciprocal fraction. The resulting fraction is used only in compounds, and is uninflected there.]</td><td class="row-padding-top row-padding-bottom border-thick">3</td></tr>
<tr><th scope="row" class="row-padding-top border-thick">Interjections</th><td class="row-padding-top border-thick">o</td><td class="row-padding-top border-thick">oh</td><td class="row-padding-top border-thick">3</td></tr>
<tr><td></td><td>hmm</td><td>hmm</td><td>3</td></tr>
<tr><td></td><td>hy-hy-hy</td><td>ha-ha-ha</td><td>3</td></tr>
</table>

{% endblock %}
