{% extends "round_files/generic_puzzle_solution.tmpl" %}
{% load archive %}

{% block extra_stylesheets %}
<link href="{% archivable_font 'Titillium+Web:wght@600' 'Titillium_Web' %}" rel="stylesheet">
{% endblock extra_stylesheets %}

{% block wordmark %}
{% include 'round_files/generic_wordmark.tmpl' with round_info=round_info %}
{% endblock wordmark %}
