.alien-armpit { background-color: #C5E17A; }
.bigfoot-feet { background-color: #D99A6C; }
.booger-buster { background-color: #ECEBBD; }
.dingy-dungeon { background-color: #C32148; }
.gargoyle-gas { background-color: #FED85D; }
.giants-club { background-color: #B94E48; }
.magic-potion { background-color: #ED0A3F; }
.mummys-tomb { background-color: #8B8680; }
.ogre-odor { background-color: #FF681F; }
.pixie-powder { background-color: #6456B7; }
.princess-perfume { background-color: #FC80A5; }
.sasquatch-socks { background-color: #F7468A; }
.sea-serpent { background-color: #00CCCC; }
.smashed-pumpkin { background-color: #FF8833; }
.sunburnt-cyclops { background-color: #E77200; }
.winter-wizard { background-color: #76D7EA; }