<p>Create the 2021 verse for the song “We Didn’t Start the Fire” by Billy Joel. Your verse should be as long as those in the song (for example, “Harry Truman” to “goodbye” is one verse). Provide both the lyrics to your verse and also a video of at least one of your members singing it. <a href="https://www.youtube.com/watch?v=j9HF26bUaf0" target="_blank">This karaoke version of WDSTF</a> may help.</p> 
