{% extends "round_files/generic_puzzle_solution.tmpl" %}
{% load archive %}

{% block extra_stylesheets %}
<link href="{% archivable_font 'Space+Grotesk:wght@500' 'Space_Grotesk' %}" rel="stylesheet">
{% endblock extra_stylesheets %}

{% block wordmark %}
{% include 'round_files/prologue/wordmark.tmpl' %}
{% endblock wordmark %}
