.snp {
	* {
        box-sizing: border-box;
	}

	.shell {
		border: 1px solid black;
		padding: 4em 2em 1em 2em;
		border-radius: 5em 5em 0.5em 0.5em;
		background-image: linear-gradient(to bottom right, white, gray, white);
	}

	p {
		margin-bottom: 1em;
	}

	.poem {
		text-align: center;
	}

	.jukebox {
		background: #cec6c1;
		width: 100%;
        display: flex;
		margin-bottom: 1em;
		border: 1px outset #bd211b;


		.default {
			height: 300px;
	        display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			background: white;
			font-size: 2rem;
		}

		.col {
			// width: 50%;
			background: white;
			flex: 1;
		}

		.track {
			height: 5rem;
			position: relative;
			padding-top: .5em;
			padding-left: 12%;
			padding-right: 2%;
			text-align: center;
			margin-bottom: .5em;

			.n {
				display: flex;
				align-items: center;
			    justify-content: center;
				width: 10%;
				height: 100%;
				left: 0;
				top: 0;
				position: absolute;
				color: white;
				text-align: center;
				background: #ae3225;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}

		.song {
			font-size: 1.3rem;
			margin-bottom: 2px;
			font-weight: bold;
		}

		.artist {
			font-size: .9rem;
			// font-size: 1.1rem;
			width: 100%;
			border: 2px solid #c00;
			border-radius:0.8rem;
			padding: 0.1em 0 0.1em 0;
		}

	}

	.page-select {
		text-align: center;
		margin-bottom: .5em;
	}

	.track-select {
		display: none;
		text-align: center;
	}

	button {
		border: 1px solid #333;
		padding: .5em 1em;
		background: #ffbe00;
		color: #bd211b;
		border: 3px outset #bd211b;
		font-weight: bold;
		font-size: 1.2rem;
		display: inline-block;

		&.active {
			background: #bd211b;
			color: #ffbe00;
		}
	}

	.click-num {
		padding-top: .5em;
	}

	label.radio :checked + span {
	}
}