.monsters {
  width: 1000px;
}

.lefthead {
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.righthead {
  border-right: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.middle {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

td {
  text-align: center;
}
