body{
    background-color: ghostwhite;
}
div.selectable {
padding: 2px 4px;
padding-bottom: 0px;
}
div.selected::before {
content: '';
position: absolute;
height: 1.1em;
width: 1.1em;
border-color: white;
border-style: solid;
border-width: 0.2em;
border-radius: 50%;
transform: translate(3px, 3px);
background-color: white;
}
div.selected::after {
content: '';
position: absolute;
border-color: blue;
border-style: solid;
border-width: 0 0.3em 0.25em 0;
height: 0.8em;
margin-top: -1em;
transform: translate(-91px, 20px) rotate(45deg);
width: 0.4em;
}
div#header {
background-color: Dodgerblue;
padding: 10px;
line-height: 5px;
color: white;
}
div {
font-family: Arial, Helvetica, sans-serif;
}
div#captcha {
    background-color: white;
display: flex;
flex-direction: column;
width: 317px;
margin: auto;
}
div.row {
display: flex;
justify-content: center;
}
div.selectable > img {
margin-bottom: -2px;
height: 100px;
width: 100px;
max-height: 100px;
max-width: 100px;
}
div#icons {
align-self: flex-start;
}
div#submit {
align-self: flex-end;
}

.hidden  {
    display: none !important;
}

div#head > img {
    max-width: 600px;
}

.error {
    color: red;
}

#spinner {
    max-height: 20px;
}
