<p>Hi,</p>

<p>Emails can contain useful information.</p>

<p>After reading it initially, you should probably look in the places indicated.</p>

<p>Don’t forget to inspect HTTP responses for them!</p>

<p>Even if you don’t get the whole answer at first, remember that we have <a href="https://bookspace.world/puzzle/tech-support/help">webpage</a>, email, and <a href="https://bookspace.world/puzzle/tech-support/chat">chat support</a>.</p>

<p>Reach out to us on all our support channels - they don’t connect well to start with, but they come together in the end.</p>

<p>Sincerely, New You City Tech Support</p>
