Hi,

Emails can contain useful information.

After reading it initially, you should probably look in the places indicated.

Don’t forget to inspect HTTP responses for them!

Even if you don’t get the whole answer at first, remember that we have [webpage](https://bookspace.world/puzzle/tech-support/help), email, and [chat support](https://bookspace.world/puzzle/tech-support/chat).

Reach out to us on all our support channels - they don’t connect well to start with, but they come together in the end.

Sincerely, New You City Tech Support
