@font-face {
  font-family: 'Architects Daughter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(Architects_Daughter/ArchitectsDaughter-Regular.ttf) format('truetype');
}
