@font-face {
  font-family: 'Montagu Slab';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(Montagu_Slab/static/MontaguSlab_120pt/MontaguSlab_120pt-Medium.ttf) format('truetype');
}
