{% extends "hq/layout.tmpl" %}
{% load static timedelta %}

{% block title %}Puzzle | Puzzles  Dashboard | {{ block.super }}{% endblock %}
{% block heading %}Dashboard for {{ puzzle.name }}{% endblock %}

{% block breadcrumb_items %}
<li><a href="{% url 'spoilr.progress:puzzles' %}">Puzzles Dashboard</a></li>
{% endblock breadcrumb_items %}

{% block content %}
<section class="puzzle info">
<a class="a" href="{% url 'puzzle_view' puzzle.url %}" target="_blank">View puzzle</a><br/>
<a class="a" href="{% url 'puzzle_view' puzzle.url %}solution" target="_blank">View solution</a><br/>
<a class="a" href="{% url 'spoilr.hints:dashboard' %}?puzzle={{ puzzle.url }}">View all hint requests for this puzzle</a><br>
</section>
<section class="puzzle content">

<table>
{% for x in teams %}
<tr {% if x.access and x.access.solved %}class="puzzle solved"{% elif x.access %}class="puzzle unsolved"{% else %}class="puzzle unreleased"{% endif %}>
  <td><a href="{% url 'spoilr.progress:team' x.team.username %}">{{ x.team.name|truncatechars:50 }}</a></td>
  <td>
    {% if x.access and x.access.solved %}
    Solved in {{ x.solve_duration|natural_timedelta }}
    {% elif x.access %}
    Released {{x.released_duration|natural_timedelta }} ago at {{ x.access.timestamp|date:'D H:i:s' }}
    {% else %}
    Not Released
    {% endif %}
  </td>
  <td>
    {% if x.access and x.access.solved %}
    Solved at {{ x.access.solved_time|date:'D H:i:s' }}
    {% endif %}
  </td>
</tr>

{% endfor %}
</table>

</section>
{% endblock content %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'spoilr/progress/style.css' %}">
{% endblock %}

{% block scripts %}
{% include 'hq/util/auto-reload-script.tmpl' %}
{% endblock scripts %}
