.yellow{
  background-color: #FFFF04;
}

.grids {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 20px;
}

.grid-structure {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1px;
  width: 333px;
}

.puzzle img {
  margin-bottom: 10px;
  max-width: 330px;
}