h1,
.round-map {
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
    font-weight: 400;
}

body {
    background-color: #89bec4;
}
.page-background {
    background-image: none;
}
.page-background-top {
    background-image: url(images/bg-top.jpg);
}
.page-background-top {
    aspect-ratio: 2500/1118;
    width: 100%;
}
.page-background-map {
    background-image: url(images/bg-repeat.jpg);
    background-repeat: repeat-y;
    background-size: 100%;
}
@media only screen and (max-width: 1080px) {
    .page-background-top {
        background-size: 1080px;
    }
}

header {
    max-height: 350px;
    min-width: 100%;
}
header.large-wordmark {
    aspect-ratio: 2500/700;
}

@media only screen and (max-width: 715px) {
    /* 715 = 200 * 2500/700 */
    header:not(.large-wordmark) {
        aspect-ratio: unset;
        height: 200px;
    }
    header h1 {
        white-space: nowrap;
    }
}
