{% extends "round_files/generic_round.tmpl" %}
{% load archive assets static %}

{% block extra_stylesheets %}
<link href="{% archivable_font 'Libre+Baskerville:ital,wght@1,400' 'Libre_Baskerville' %}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/map.css' %}">
{% include 'round_files/generic_map_stylesheet.tmpl' with sticker_info=sticker_info %}
{% endblock extra_stylesheets %}

{% block wordmark %}
{% include 'round_files/generic_wordmark.tmpl' with round_info=round_info %}
{% endblock wordmark %}

{% block round_map %}
<section class="round-map fixed">
  <div class="map">
	{% for sticker in sticker_info.stickers %}
	<a href="{% url 'puzzle_view' sticker.puzzle.url %}" class="sticker sticker-content{% if sticker.image %} {{ sticker.image }} special{% endif %}">
	  {% if sticker.image %}
	  <img src="{% rd 'images/' %}{{ sticker.image }}.png" alt="" aria-hidden="true">
	  {% else %}
	  <img src="{% rd 'images/' %}{{ sticker.puzzle_counter }}.png" alt="" aria-hidden="true">
	  {% endif %}
	  <span class="caption">{{ sticker.puzzle.name }}</span>
	  {% if sticker.solved %}<span class="caption secondary">{{ sticker.name }}</span>{% endif %}
	</a>
	{% endfor %}
  </div>
</section>
{% endblock round_map %}
