.round-map .caption {
	font-size: 16px !important;
	line-height: 20px;
    background-color: #fff8d4;
    color: #000;
}

.round-map a:hover .caption {
	background-color: #E4C4ED;
    filter: brightness(1) !important;
}

.round-map .sticker img {
    filter: drop-shadow(0 0 20px #fffa);
}
.round-map .sticker :focus img {
    filter: drop-shadow(0 0 20px #BC4849);
}
.round-map .sticker:hover img {
    filter: drop-shadow(0 0 20px #BC4849);
}

.round-map .map {
    aspect-ratio: 1/2;
    background-image: url(images/bg-map.jpg);
    background-size: 100%;
    max-width: 1000px;
    width: 100%;
}

.round-map .sticker:not(.special) {
    width: 25%;
}
.round-map .sticker:not(.special) img {
    width: 40%;
}

.round-map .sticker .caption {
    margin-top: -60px;
}
.round-map .sticker.meta img {
    z-index: -1;
}

.round-map .sticker:not(.meta) .caption:not(.secondary) {
    margin-top: -50%;
}
.round-map .sticker .caption.secondary {
    background-color: #3a292f;
    color: #fef8d4;
    margin-top: 10px;
    text-transform: uppercase;
}

.round-map .sticker.meta .caption.secondary {
	display: none;
}