<p>Provide us with a video of your original Eurovision pastiche. It must follow these rules:</p>
<ol type="1">
  <li>You must perform an original song</li>
  <li>We need to see the person who is singing</li>
  <li>No more than 6 people in the video</li>
  <li>The song is between 1 and 3 minutes in length</li>
  <li>You are free to choose what language you sing in</li>
</ol>
<p>The following videos should help spark your imagination: 
<a href="https://www.youtube.com/watch?v=Cv6tgnx6jTQ" target="_blank">Video 1</a>, 
<a href="https://www.youtube.com/watch?v=hfjHJneVonE" target="_blank">Video 2</a>, 
<a href="https://youtu.be/CTP17rWuUMo?t=195" target="_blank">Video 3</a></p>
